/*
COMP 1054 Assignment #2
Developers: John Gu(200327450) & Emily Rose(200553504)
Website design recreation: https://getbootstrap.com/docs/4.0/examples/product/
*/

/* Global settings */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display:grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

p {
    display: block;
    text-align: center;
    font-size: 1.25rem;
}

a {
    color: #6c757d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* General settings */
header {
    display: flex;
    flex-direction: row;
    background-color: #212529;
    color: #999999;
    justify-content: center;
    position: sticky;
    top:0;
    margin: 0;
    padding: 0;
    height: 7vh;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    margin: 0 auto;
}

header ul li {
    list-style: none;
    display: flex;
    padding: 0 4px;
    margin: 0 auto;
    justify-content: space-between;
}

header ul li a {
    color: #999999;
    margin: 0 auto;
    padding: 0 2rem;
    text-decoration: none;
}

.masthead {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.masthead h1,
.masthead p,
.masthead button {
    width: 40vw;
    height: 10vh;
    text-align: center;
    align-items: center;
    margin:0;
}

.masthead p,
.masthead button {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.masthead button {
    width: 8vw;
    height: 5vh;
    padding: 0;
    color: #6c757d;
    background-color: #fefefe;
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
}

.masthead h1 {
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    color: #343a40;
    width: 48%;
    padding: 5em 5em 0;
    overflow: hidden;
    box-sizing: border-box;
}

.card h2 {
    font-size: 3rem;
    line-height: 1.5em;
}

.card p {
    font-size: 2rem;
    padding-bottom: 1em;
}

.item {
    background-color: #ffffff;
    width: 90%;
    height: 20em;
    border-radius: 2em 2em 0 0;
}

.card:nth-of-type(1) {
    background-color: #343a40;
    color: #f8f9fa;
}

.card:nth-of-type(1) .item {
    background-color: #f8f9fa;
}

.card:nth-of-type(2),
.card:nth-of-type(3) {
    background-color: #f8f9fa;
    color: #343a40;
}

.card:nth-of-type(2) .item,
.card:nth-of-type(3) .item{
    background-color: #343a40;
}

.card:nth-of-type(4) {
    background-color: #007bff;
    color: #f8f9fa;
}

.card:nth-of-type(4) .item {
    background-color: #f8f9fa;
}

.card:nth-of-type(5) .item,
.card:nth-of-type(6) .item,
.card:nth-of-type(7) .item,
.card:nth-of-type(8) .item {
    box-shadow: #e0e0e0 0 0 2em;
}

footer {
    display: flex;
    padding: 3em 0;
    margin: 0 auto;
    max-width: 70vw;
}

footer > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 100%;
    padding: 0 1em;
    text-align: left;
}

footer > div > p {
    font-size: 80%;
    text-align: left;
}

footer > div > ul {
    list-style: none;
    padding: 0;
}

footer > div > ul > a {
    font-size: 1rem;
}
